<div class="row loginmain">
  <span class="dataContainter1 noPad col-12">
    <form #loginform="ngForm" novalidate>
      <div class="login-form">
        <span class="loginpage">
          <span class="dbxl-font text-muted d-flex justify-content-center my-4"
            >Corona Notifier</span
          >
          <div class="input-container">
            <img data-cy="Email" src="assets/icons/Email.svg" />
            <input
              [(ngModel)]="loginmodel.email"
              name="email"
              id="email"
              #username="ngModel"
              type="text"
              placeholder="Email"
              required
              class="input-desc border-0 ml-15 pl-0 col-10"
            />
          </div>
          <div class="input-container d-flex">
            <img
              data-cy="password"
              class="ml-1"
              src="assets/icons/password.svg"
            />
            <input
              [(ngModel)]="loginmodel.password"
              name="password"
              id="password"
              #password="ngModel"
              [type]="showeye ? 'text' : 'password'"
              required
              placeholder="Password"
              class="input-desc border-0 ml-15 pl-1 col-10"
            />
            <div class="eye text-right cols-2" (click)="showeye = !showeye">
              <img
                *ngIf="showeye"
                data-cy="Email"
                src="assets/icons/show.svg"
                class="cursor-pointer"
              />
              <img
                *ngIf="!showeye"
                data-cy="Email"
                src="assets/icons/hide.svg"
                class="cursor-pointer"
              />
            </div>
          </div>
          <div class="mt-4">
            <button
              [disabled]="!loginform.valid"
              type="submit"
              class="btn pull-right col-12 btn-blue mr-0"
              (click)="loginUser(loginform.form.value)"
            >
              Login
            </button>
          </div>
        </span>
      </div>
    </form>
  </span>
</div>
