//variable

$white: #ffffff;
$blue: #19659d;
$red: #de435b;
$gray: #7b858c;
$black: #404040;
$lGray: #c3c5c8;
$lblue: #4a90e2;

// global styles

html {
  font-family: 'Helvetica Neue', sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
}
input {
  font-size: 15px;
  padding-left: 10px;
}
.required:after {
  content: ' *';
  color: $red;
}

.btn {
  font-size: 15px;
}

.xl-font {
  font-size: 23px;
}
.dbxl-font {
  font-size: 30px;
}

.ui-dialog {
  max-width: 30% !important;
  .ui-dialog-content {
    padding: 2em 1em !important;
  }
}
.ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #f4f4f4 !important;
  color: $black !important;
}
.ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484 !important;
}
.form-row {
  .ui-inputtext {
    width: 34em !important;
  }
}

.btn-blue {
  color: $white !important;
  border-radius: 3px !important;
  border-color: $blue !important;
  font-weight: 500 !important;
  background-color: $blue !important;
  margin-right: 10px !important;
  padding: 6px 20px !important;
}
.btn-cancel {
  background-color: $white;
  color: $black;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid $gray;
  &:hover {
    color: $white;
    background-color: $black;
  }
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 18px;
}
.ui-confirmdialog-message {
  font-weight: 600;
}
.ui-multiselect-panel .ui-multiselect-header {
  width: 20em !important;
}
.ui-multiselect-panel .ui-multiselect-items-wrapper {
  width: 20em !important;
}
.cursor-pointer {
  cursor: pointer;
}
.ui-multiselect .ui-multiselect-panel {
  min-width: 20em !important;
}
.ui-multiselect .ui-multiselect-label-container {
  width: 20em !important;
}
/* PrimeNG toast css customization*/
.ui-toast-message {
  background-color: #ffffff !important;
  border: 1px solid $lGray !important;
  border-radius: 10px;
  min-height: 90px;
}

.ui-toast-message-success {
  border-left: 10px solid $blue !important;
  .ui-toast-icon {
    display: none !important;
  }
  .ui-toast-summary {
    color: $blue;
    font-size: 17px !important;
  }
}

.ui-overlaypanel {
  z-index: 1011 !important;
}

.ui-toast-message-error {
  border-left: 10px solid $red !important;
  .ui-toast-icon {
    display: none !important;
  }
  .ui-toast-summary {
    color: $red;
    font-size: 17px !important;
  }
}

.ui-toast-message-info {
  border-left: 10px solid $lblue !important;
  .ui-toast-summary {
    color: $lblue;
    font-size: 17px !important;
    padding-left: 30px !important;
  }
}
.ui-toast-message-text-content {
  margin-left: 0px !important;
}
.ui-toast-message.ui-toast-message-warn {
  width: 400px !important;
  padding: 15px 0px !important;
  h3 {
    font-weight: 600;
    margin-bottom: 30px;
  }
  .btn {
    color: $white !important;
    padding: 5px 25px !important;
    margin-top: 10px !important;
  }
  .btn-approve {
    background-color: $blue !important;
  }
  .btn-cancel {
    background-color: $red !important;
    margin-left: 10px !important;
  }
}
